@media screen and (max-width: 768px) {
  .main-container {
    width: 95%;
    margin: 0 auto;
  }
  body {
    background-color: #efe9e0;
  }

  .first-bloc h1 {
    font-size: 3.9rem;
    width: 350px;
    margin: auto;
  }

  .navbar {
    width: 100%;
    margin: 0 auto;
  }
  .navbar li {
    list-style: none;
    font-size: 1rem;
  }
  .navbar span {
    background-color: #d2a55a;
    width: 90px;
    padding: 10px;
    text-align: center;
    display: block;
    border-radius: 40px;
    margin-bottom: 20px;
  }

  .first-bloc p {
    font-size: 1rem;
    letter-spacing: 2px;
  }
  /* section image */

  .main-plats-list {
    flex-direction: column;
    /* width: 325px; */
    justify-content: center;
    align-items: center;
  }
  .box-plat {
    flex-direction: column;
  }

  .plat-img {
    width: 210px;
    height: auto;
    margin: 0 0;
  }
  .plat-img img {
    width: 100%;
  }

  .second-plats-list .kandia {
    width: 180px;
  }
  .first-plats-list .thieb {
    width: 188px;
  }
  .box-plat .box-text p {
    font-size: 1.5rem;
    font-family: "Times New Roman", Times, serif;
  }
  .box-plat .box-text h2 {
    font-size: 2rem;
  }
  .box-text {
    width: 90%;
    margin: 0 auto;
  }

  /* footer */
  .box-footer {
    flex-direction: column;
    align-items: center;
  }
  .fresh-box {
    font-size: 0.8rem;
    flex-wrap: wrap;
  }
  .title-logo h1 {
    font-size: 2rem;
    padding-top: 5px;
  }
  .title-logo .cake {
    width: 100px;
    height: 90px;
  }
  .title-logo .cup {
    margin-bottom: 20px;
    width: 80px;
    height: 90px;
  }
  .title-logo i svg {
    width: 100%;
    height: 100%;
    padding: 0;
  }
}
@media screen (width: 323) {
  .fresh-box {
    background-color: 20px;
    justify-content: center;
  }
}
