.main-plats-list {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  box-sizing: border-box;
  /* border: #000 2px solid; */
  margin: 50px 5px;
}
.first-plats-list,
.second-plats-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: max-content;
}
.box-plat {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  padding: 0 50px;
}
.box-plat .box-text p {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}
.box-text {
  width: 230px;
}
.plat-img {
  margin-top: 30px;
  width: 250px;
  height: auto;
  margin-left: 20px;
}
.plat-img img {
  width: 100%;
}

.second-plats-list .kandia {
  width: 210px;
}
.first-plats-list .thieb {
  width: 265px;
}
