.main-plats-list {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 10px;
  box-sizing: border-box;
  margin: 50px 0;
}
.first-plats-list,
.second-plats-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: max-content;
  align-items: center;
}
.box-plat {
  display: flex;
  margin-bottom: 20px;
  padding: 0 5px;
  flex-wrap: wrap;
  align-items: center;
}
.box-plat .box-text p {
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
}
.box-text {
  width: 210px;
}
.plat-img {
  /* margin-top: 30px; */
  width: 220px;
  height: auto;
  padding: 0;
  margin: 30px 15px 0;
}
.plat-img img {
  width: 105%;
}
/* ajustement des tailles des images pour responsivite */
.second-plats-list .kandia img {
  width: 90%;
}
.first-plats-list .thieb img {
  width: 115%;
}
.second-plats-list .yassa img {
  width: 105%;
}
