body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #efe9e0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-container {
  width: 90%;
  margin: 0 auto;
}
.first-bloc {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px black solid; */
  width: 100%;
}
.first-bloc p {
  font-size: 1.4rem;
  letter-spacing: 4px;
  margin: 5px 0;
}
.first-bloc h1 {
  font-weight: 800;
  font-size: 8rem;
  padding: 5px 0;
  margin: 0;
  color: #ba4b1d;
  letter-spacing: 5px;
}
/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}
.navbar li {
  list-style: none;
  font-size: 2rem;
}
.navbar span {
  background-color: #d2a55a;
  width: 200px;
  padding: 20px;
  text-align: center;
  display: block;
  border-radius: 40px;
}

.navbar a {
  text-decoration: none;
  color: #000;
}

.divider {
  background-color: #333;
  height: 3px;
  width: 71%;
  margin: 50px auto 0 auto;
  z-index: 1;
}
